<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FIND3 - dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/static/scss/widgets.css">
    <link rel="stylesheet" href="/static/scss/style.css">
    <link href="/static/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link rel="stylesheet" href="http://codeseven.github.io/toastr/build/toastr.min.css">

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<body>

    

    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">
                    <img src="/static/img/find3-promo.png" alt="Logo">
                </a>
                <a class="navbar-brand hidden" href="./">
                    <img src="/static/img/find_logo.png" alt="Logo">
                </a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/view/dashboard/{{.Family}}">
                            <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <li>
                        <a href="https://www.internalpositioning.com/doc/" target="_blank">
                            <i class="menu-icon fa fa-book"></i>Docs </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">


        
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>FIND dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Admin</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>



        




        <div class="content mt-3">

            {{ with .Message }}
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    {{.}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {{ end }} {{ with .ErrorMessage }}
            <div class="col-sm-12">
                <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                    {{.}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {{ end }}


            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="card-title mb-0">Accuracy</h4>
                                <div class="small text-muted">Last calibrated {{.Efficacy.LastCalibrationTime}}</div>
                            </div>
                        </div>
                        <div class="content mt-3">
                            <div class="animated fadeIn">
                                <div class="row">

                                    <div class="col-lg-4 col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="stat-widget-four">
                                                    <div class="stat-icon dib">
                                                        <p class="data-attributes">
                                                            <span data-peity='{ "fill": ["#6164C1", "#eeeeee"], "innerRadius": 10, "radius": 20 }'>{{ .Efficacy.PercentCorrect}}/100 </span>
                                                            {{ .Efficacy.PercentCorrect}}% </p>
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-heading">Overall</div>
                                                            <div class="stat-text">{{ .Efficacy.TotalCount}} data</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ range .Efficacy.AccuracyBreakdown }}
                                    <div class="col-lg-4 col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="stat-widget-four">
                                                    <div class="stat-icon dib">
                                                        <p class="data-attributes">
                                                            <span data-peity='{ "fill": ["#6164C1", "#eeeeee"], "innerRadius": 10, "radius": 20 }'>{{.PercentCorrect}}/100</span>
                                                            {{ .PercentCorrect}}% </p>
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-heading">{{ .Name }}</div>
                                                            <div class="stat-text">{{ .Total }} data</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Passive tracking</strong> Elements
                    </div>
                    <div class="card-body card-block">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Family name</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <p class="form-control-static">FAMILY</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Device</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="select" id="select" class="form-control">
                                        <option value="0">Select device</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class="form-control-label">Location</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="locationInput" name="locationInput" placeholder="" class="form-control">
                                    <small class="form-text text-muted">Optional</small>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>
            </div> -->

            <div class="content mt-3">

                
                    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="largeModalLabel"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="largeModalBody">
                                        
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
        
                
                <div class="animated fadeIn">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h4 class="card-title mb-0">Devices</h4>
                                            <div class="small text-muted">Click on a device to track it in realtime.</div>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Last seen</th>
                                                    <th>Location</th>
                                                    <th>Probability</th>
                                                    <th>Active time (min)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{ range .Devices }}
                                                <tr>
                                                    <td>
                                                        <a href="/api/v1/location/{{$.Family}}/{{.Name}}" target="_blank">{{ .Name }}</a>
                                                    </td>
                                                    <td id="lastseen-{{.ID}}">{{ .LastSeen.Format "Mon, 2 Jan 2006 15:04:05" }}</td>
                                                    <td id="location-{{.ID}}">{{ .LastLocation }}</td>
                                                    <td id="probability-{{.ID}}">{{ .Probability }}%</td>
                                                    <td>{{ .ActiveTime }}</td>
                                                </tr>
                                                {{ end }}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- .content -->

        </div>
        <!-- .content -->
    </div>
    <!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="/static/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

    <script src="/static/js/lib/peitychart/jquery.peity.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/peitychart/peitychart.init.js"></script>

    <script src="/static/js/lib/data-table/datatables.min.js"></script>
    <script src="/static/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/static/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="/static/js/lib/data-table/jszip.min.js"></script>
    <script src="/static/js/lib/data-table/pdfmake.min.js"></script>
    <script src="/static/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/static/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="/static/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/static/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="/static/js/lib/data-table/datatables-init.js"></script>
    <script src="https://rawgit.com/emn178/js-sha256/master/build/sha256.min.js"></script>
    <script src="http://codeseven.github.io/toastr/build/toastr.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

            $('#bootstrap-data-table-export').DataTable();
            $("#getLocation").click(function(e){
                console.log("HI");
                var name = $(e.target).text();
                console.log(name);
                $("#largeModalLabel").text(name);
                $.get( "/api/v1/location/{{.Family}}/"+name, function( data ) {
                    console.log(data);
                    html = "<p><strong>Guesses:</strong></p><ul>";
                    for (i = 0; i< data.analysis.guesses.length; i++) {
                        html += "<li>" + data.analysis.guesses[i].location + ": " + Math.round(100*data.analysis.guesses[i].probability) + "%</li>"
                    }
                    html += "</ul>";
                    html += JSON.stringify(data.analysis.aguesses);
                    html += "<hr><p><strong>Sensor data:</strong></p><code>";
                    html += JSON.stringify(data.sensors.s);
                    html += "</code>";
                    $("#largeModalBody").html(html);
                  });
             }); 
            function connect() {
                try {

                    var socket;
                    var host = window.origin.replace("http", "ws") + "/ws?device=all&family={{.Family}}";
                    var socket = new WebSocket(host);

                    socket.onopen = function () {
                        console.log("opened websocket");
                    }

                    socket.onmessage = function (msg) {
                        console.log(msg);
                        data = JSON.parse(msg.data);
                        console.log(data);
                        idName = sha256.sha256(data.sensors.d);
                        console.log(idName);
                        var lastLocation = $("#location-" + idName).text();
                        $("#location-" + idName).text(data.guesses[0].location);
                        $("#probability-" + idName).text(Math.round(100 * data.guesses[0].probability) +
                            "%");
                        var date = new Date(0);
                        date.setUTCMilliseconds(data.sensors.t);
                        console.log(date);
                        $("#lastseen-" + idName).text(date.toUTCString().replace(" GMT", ""));
                        var entered = " entered ";
                        if (lastLocation == data.guesses[0].location) {
                            entered = " still at "
                        }
                        toastr["success"](data.sensors.d +entered + data.guesses[0].location + " (" +Math.round(100 * data.guesses[0].probability) +
                        "%)" );
                    }

                    socket.onclose = function () {
                        console.log("websocket status: " + socket.readyState);
                    }

                } catch (exception) {
                    console.log("websocket problem: " + exception);
                }
            }
            connect();
        });
    </script>

</body>

</html>