var tileLayer = new L.TileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',{
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
  maxZoom: 22,
   maxNativeZoom: 20
});

var map = new L.Map('map', {
  'center': [{{.Center}}],
  'zoom': 20,
  'layers': [tileLayer]
});

{{ range .Data }} 
marker{{.Hash}} = L.marker([{{.Latitude}}, {{.Longitude}}],{
  draggable: true
}).addTo(map).bindTooltip("{{.Location}}", 
    {
        permanent: true, 
        direction: 'top'
    });
marker{{.Hash}}.on('dragend', function (e) {
  console.log(marker{{.Hash}}.getLatLng().lat,marker{{.Hash}}.getLatLng().lng);
  $.ajax({
        type: "POST",
        //the url where you want to sent the userName and password to
        url: '/api/v1/gps',
        dataType: 'json',
        async: false,
        //json object to sent to the authentication url
        data: JSON.stringify({'f':'{{$.Family}}','l':'{{.Location}}','gps':{'lat':marker{{.Hash}}.getLatLng().lat,'lon':marker{{.Hash}}.getLatLng().lng} }),
        success: function (msg) {
            toastr["success"](msg['message']);
        }
    });
});
{{end}}
