{{ define "header" }}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FIND3 - dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/static/scss/widgets.css">
    <link rel="stylesheet" href="/static/scss/style.css">
    <link href="/static/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/toastr.css">
    <link data-require="leaflet@1.3.1" data-semver="1.3.1" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <script defer src="/static/js/fonta.js"></script>
  <style>
        .autocomplete-suggestions {
            border: 1px solid #999;
            background: #FFF;
            overflow: auto;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }

        .autocomplete-selected {
            background: #F0F0F0;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }

        #map {
          margin: 0px;
          width: 100%;
          height: 100%;
          padding: 0px;
          height: 400px;
        }
    </style>
</head>

<body>

    
    <script src="/static/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

    <script src="/static/js/lib/peitychart/jquery.peity.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/peitychart/peitychart.init.js"></script>

    <script src="/static/js/sha256.min.js"></script>
    <script src="/static/js/toastr.min.js"></script>

    <script data-require="leaflet@1.3.1" data-semver="1.3.1" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>

    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand pt-2 pb-2" href="/view/dashboard/{{.Family}}">
                    <img src="/static/img/find3-promo-bg.png" alt="Logo">
                </a>
                <a class="navbar-brand hidden" href="/view/dashboard/{{.Family}}">
                    <img src="/static/img/find3-promo-black.png" alt="Logo">
                </a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {{if .Dashboard}}class="active"{{end}}>
                        <a href="/view/dashboard/{{.Family}}">
                            <i class="menu-icon fas fa-tachometer-alt fa-lg"></i>Dashboard </a>
                    </li>
                    <li {{if .Map}}class="active"{{end}}>
                        <a href="/view/map/{{.Family}}">
                            <i class="menu-icon fas fa-map fa-lg"></i>Map </a>
                    </li>
                    <li {{if .UserMap}}class="active"{{end}}>
                        <a href="/view/map2/{{.Family}}">
                            <i class="menu-icon fas fa-street-view fa-lg"></i>User Map </a>
                    </li>
                    <li>
                        <a href="/view/analysis/{{.Family}}" target="_blank">
                            <i class="menu-icon fa fa-chart-bar fa-lg"></i>Location analysis </a>
                    </li>
                    <li>
                        <a href="https://www.internalpositioning.com/doc/tracking_your_phone.md" target="_blank">
                            <i class="menu-icon fa fa-book fa-lg"></i>Getting started </a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.internalpositioning.find3.find3app" target="_blank">
                            <i class="menu-icon fab fa-google-play fa-lg"></i>Get the app </a>
                    </li>
                    <li>
                        <a href="https://github.com/schollz/find3" target="_blank">
                            <i class="menu-icon fab fa-github fa-lg"></i>Source </a>
                    </li>
                    <li>
                        <a href="https://join.slack.com/t/find3/shared_invite/enQtMzU4MjY0NjE1NjU0LWRkY2JhNWFkM2U3Y2JhY2RlZTQ5ZTdmZTQ2M2UzMjI2MGVmMjZlOWQyZmU3MzM5YzIzOTM0YmYzYmQ3NTQzNjQ" target="_blank">
                            <i class="menu-icon fab fa-slack fa-lg"></i>Get help </a>
                    </li>
                    <li>
                        <a href="http://eepurl.com/bhfFI1" target="_blank">
                            <i class="menu-icon fas fa-envelope fa-lg"></i>Join mailing list </a>
                    </li>
                    <li>
                        <a href="https://github.com/schollz/find3/issues" target="_blank">
                            <i class="menu-icon fas fa-bug fa-lg"></i>Report a bug </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="menu-icon fas fa-sign-out-alt fa-lg"></i>Sign out </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
{{ end }}
