<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">

    <title>FIND3 - login</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/floating-labels.css" rel="stylesheet">
</head>

<body>
    <form class="form-signin" method="post" action="/">
        <div class="text-center mb-4">
            <img class="mb-4" src="/static/img/find3-promo-black.png" alt="" width="180">
            <h1 class="h3 mb-3 font-weight-normal">Login to dashboard</h1>
            <p>Enter your family name to continue.</p>
            {{ with .Message }}
            <div class="alert alert-info">
                {{.}}
            </div>
            {{ end}}
        </div>

        <div class="form-label-group">
            <input type="text" id="inputFamily" name="inputFamily" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputFamily">Family</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2015-2018</p>
    </form>
</body>

</html>