<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name="theme-color" content="#000000"><link rel="manifest" href="/manifest.json"><link rel="shortcut icon" href="/favicon.ico"><title>Current location</title><link href="/static/css/main.4cbd5e80.css" rel="stylesheet"></head><body><script>window.find3={family:"{{.Family}}",device:"{{.Device}}"}</script><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div><script type="text/javascript" src="/static/js/main.b739e188.js"></script></body><div id="websocket"></div></html>