base58==1.0.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
cycler==0.10.0
expiringdict==1.1.4
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
numpy>=1.15.1,<2.0
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
randomcolor==0.4.4.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
tqdm==4.26.0
urllib3==1.23
Werkzeug==0.14.1
