attrs==17.4.0
base58==1.0.0
click==6.7
coverage==4.5.1
expiringdict==1.1.4
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.1.0
numpy==1.14.2
pluggy==0.6.0
py==1.5.3
py-cpuinfo==4.0.0
pytest==3.5.0
pytest-benchmark==3.1.1
pytest-cov==2.5.1
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
tqdm==4.23.0
ujson==1.35
Werkzeug==0.14.1

